
.gallery-header {
    font-family: 'MyWebFont',monospace;       
    text-align: center;
    letter-spacing: 12px; 
    color: white;
    
}
.gallery-subheader {
    font-family: 'MyWebFont',monospace;       
    text-align: center;
    color: white;
    
}
#content img{
    width: 50%;

}
.editionimg{
    text-align: center;
    margin-bottom: 2%;
}
#gradientcolor {
    background: linear-gradient(
      rgba(255, 255, 255, 0.3), 
      rgba(255, 255, 255, 0.3)
    );
    background-size: cover;
    min-height: 325px;
}
@media(max-width:1920px){
    #gradientcolor{        
        min-height:440px;
    }
    .editionimg{
        padding-top: 1%;
    }
    
}
.content{
    width: 90%;
}



