/* ---- grid ---- */

.grid {
    margin: auto;
    display: block;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 14%;
}

.grid-item {
  height: auto;

}
.grid-item img{
    width: 100%;
    padding:1%;
}

