/*dev on full hd screen, responsiveness vanaf hier maken */


/* Default Content */

body,
html {
    width: 100%;
}

body {
    /* Opmaak */
    margin-top: 70px;
    /* Tekst opmaak */
    text-align: justify;
    /*background: linear-gradient(to top right, #ffffff, #7b56a4);*/
}

a {
    color: white;
}

h1 {
    font-family: 'Muli', sans-serif;
    /*font-weight: bold;*/
}


/*outline button*/

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #7b56a4;
    border-color: #7b56a4;
}

.btn-primary.btn-outline:hover {
    background-color: #7b56a4;
    border-color: #7b56a4;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}


/* inschrijving */

#submit {
    float: right;
}

.modal-body {
    margin-bottom: 3%;
}


/* INTRO */

.introtext {
    float: left;
    width: 70%;
}

.introimg {
    float: right;
    width: 30%;
    margin: auto;
}

.introimg img {
    width: 80%;
    margin: 5% auto auto 10%;
}

#programma {
    clear: both;
}


/* VRIJDAG*/

.vrijdagtext {
    float: left;
    width: 50%;
}

.vrijdagimg {
    float: right;
    width: 50%;
    margin: auto;
}

.vrijdagimg img {
    width: 80%;
    margin: 5% auto auto 10%;
}


/* ZATERDAG */

.zaterdag {
    clear: both;
}

.zaterdag .titel {
    padding-top: 10px;
}

.zaterdagtext {
    float: right;
    width: 50%;
    margin: auto;
}

.zaterdagimg {
    float: left;
    width: 50%;
    
}

.zaterdagimg img {
    width: 30%;
    margin: 0% auto auto 35%;
    
}

.zaterdagtext1 {
    clear: both;
    float: left;
    width: 50%;
}

.zaterdagimg1 {
    float: right;
    width: 50%;
}

.zaterdagimg1 img {
    width: 40%;
    margin: 5% auto auto 35%;
}

.zaterdagtext2 {
    clear: both;
    float: right;
    width: 50%;
    margin: auto;
}

.zaterdagimg2 {
    float: left;
    width: 50%;
}

.zaterdagimg2 img {
    width: 80%;
    margin: 5% auto auto 10%;
}


/* ZONDAG */

.zondag {
    clear: both;
}

.zondag .titel {
    padding-top: 10px;
}

.zondagtext {
    float: left;
    width: 50%;
    margin: auto;
}

.zondagimg {
    float: right;
    width: 50%;
}

.zondagimg img {
    width: 50%;
    margin: 5% auto auto 30%;
}

.zondagtext1 {
    clear: both;
    float: right;
    width: 50%;
}

.zondagimg1 {
    float: left;
    width: 50%;
}

.zondagimg1 img {
    width: 80%;
    margin: 5% auto auto 10%;
}

.goldtitle {
    color: #b8a553;
}

.purpletitle {
    color: #7b56a4;
}

.footer {
    clear: both;
    background-color: #7b56a4;
    color: #fff;
    min-height: 70px;
    padding-top: 1.3%;
}
.glyphicon-forward {
    padding-left:10%;
    
}

.glyphicon-stop {
    margin-left: -5%;
}


