@media only screen and (max-width: 1440px) {
    #wrapper {
        max-height: 600px;
    }
    .bar {
        width: 400px;
        height: 250px;
        margin-left: 9%;
        margin-top: 3%;
    }
    .events {
        width: 400px;
        height: 250px;
        margin-left: 12.5%;
        margin-top: 3%;
    }
    .ontour {
        width: 400px;
        height: 250px;
        margin-left: 9%;
        margin-top: 3%;
    }
    .consult {
        width: 400px;
        height: 250px;
        margin-left: 12.5%;
        margin-top: 3%;
    }
    .bar .overlay h1 {
        margin-top: 27%;
    }
    .events .overlay h1 {
        margin-top: 27%;
    }
    .ontour .overlay h1 {
        margin-top: 27%;
    }
    .consult .overlay h1 {
        margin-top: 27%;
    }
    .menu {
        font-size: 200%;
    }
    .dropdown-menu li {
        font-size: 150%;
    }
}

@media only screen and (max-width: 1366px) {
    #wrapper {
        max-height: 600px;
    }
    .bar {
        width: 400px;
        height: 250px;
        margin-left: 7%;
        margin-top: 3%;
    }
    .events {
        width: 400px;
        height: 250px;
        margin-left: 12.5%;
        margin-top: 3%;
    }
    .ontour {
        width: 400px;
        height: 250px;
        margin-left: 7%;
        margin-top: 3%;
    }
    .consult {
        width: 400px;
        height: 250px;
        margin-left: 12.5%;
        margin-top: 3%;
    }
    .bar .overlay h1 {
        margin-top: 27%;
    }
    .events .overlay h1 {
        margin-top: 27%;
    }
    .ontour .overlay h1 {
        margin-top: 27%;
    }
    .consult .overlay h1 {
        margin-top: 27%;
    }
    .menu {
        font-size: 200%;
    }
    .dropdown-menu li {
        font-size: 150%;
    }
}

@media only screen and (max-width: 1080px) {
    #wrapper {
        max-height: 600px;
    }
    .bar {
        width: 350px;
        height: 250px;
        margin-left: 2%;
        margin-top: 4%;
    }
    .events {
        width: 350px;
        height: 250px;
        margin-left: 10.5%;
        margin-top: 4%;
    }
    .ontour {
        width: 350px;
        height: 250px;
        margin-left: 2%;
        margin-top: 4%;
    }
    .consult {
        width: 350px;
        height: 250px;
        margin-left: 10.5%;
        margin-top: 4%;
    }
    .bar .overlay h1 {
        margin-top: 30%;
    }
    .events .overlay h1 {
        margin-top: 30%;
    }
    .ontour .overlay h1 {
        margin-top: 30%;
    }
    .consult .overlay h1 {
        margin-top: 30%;
    }
    .menu {
        width: 80%;
        font-size: 200%;
    }
    .dropdown-menu li {
        font-size: 150%;
    }
    .title {
        font-size: 400%;
    }
}

@media only screen and (max-width: 1024px) {
    #wrapper {
        max-height: 600px;
    }
    .bar {
        width: 350px;
        height: 250px;
        margin-left: 2%;
        margin-top: 4%;
    }
    .events {
        width: 350px;
        height: 250px;
        margin-left: 10.5%;
        margin-top: 4%;
    }
    .ontour {
        width: 350px;
        height: 250px;
        margin-left: 2%;
        margin-top: 4%;
    }
    .consult {
        width: 350px;
        height: 250px;
        margin-left: 10.5%;
        margin-top: 4%;
    }
    .bar .overlay h1 {
        margin-top: 30%;
    }
    .events .overlay h1 {
        margin-top: 30%;
    }
    .ontour .overlay h1 {
        margin-top: 30%;
    }
    .consult .overlay h1 {
        margin-top: 30%;
    }
    .menu {
        width: 80%;
        font-size: 200%;
    }
    .dropdown-menu li {
        font-size: 150%;
    }
    .title {
        font-size: 400%;
    }
}

@media only screen and (max-width: 768px) {
    #wrapper {
        max-height: 530px;
    }
    .bar {
        width: 300px;
        height: 200px;
        margin-left: -3%;
        margin-top: 8%;
    }
    .events {
        width: 300px;
        height: 200px;
        margin-left: 55%;
        margin-top: -32.5%;
    }
    .ontour {
        width: 300px;
        height: 200px;
        margin-left: -3%;
        margin-top: 5%;
    }
    .consult {
        width: 300px;
        height: 200px;
        margin-left: 55%;
        margin-top: -32.5%;
    }
    .bar .overlay h1 {
        margin-top: 30%;
    }
    .events .overlay h1 {
        margin-top: 30%;
    }
    .ontour .overlay h1 {
        margin-top: 30%;
    }
    .consult .overlay h1 {
        margin-top: 30%;
    }
    .menu {
        width: 100%;
        font-size: 200%;
    }
    .dropdown-menu li {
        font-size: 150%;
    }
    .title {
        font-size: 400%;
    }
}

@media only screen and (max-width: 414px) {
    #wrapper {
        max-height: 900px;
    }
    .bar {
        width: 250px;
        height: 150px;
        margin: auto;
        margin-top: 8%
    }
    .events {
        width: 250px;
        height: 150px;
        margin: auto;
        margin-top: 5%;
    }
    .ontour {
        width: 250px;
        height: 150px;
        margin: auto;
        margin-top: 5%
    }
    .consult {
        width: 250px;
        height: 150px;
        margin: auto;
        margin-top: 5%
    }
    .bar .overlay h1 {
        font-size: 200%;
        margin-top: 25.5%;
    }
    .events .overlay h1 {
        font-size: 200%;
        margin-top: 25.5%;
    }
    .ontour .overlay h1 {
        font-size: 200%;
        margin-top: 25.5%;
        ;
    }
    .consult .overlay h1 {
        font-size: 200%;
        margin-top: 25.5%;
    }
    .menu {
        width: 100%;
        font-size: 200%;
    }
    .dropdown-menu li {
        font-size: 150%;
    }
    .title {
        font-size: 300%;
    }
    .menu li {
        display: block;
        padding: 0;
    }
    .pipe {
        visibility: hidden;
        display: none;
    }
}
